/* custom */
a {
	color: #7e8c8d;
	-webkit-backface-visibility: hidden;
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	font-size: $font14;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, html {
	line-height: 1.5;
	font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: $root-background;
	color: $c666;
}
body * {
	box-sizing border-box;
}
#openplayapi {
	width 10px;
	height 10px;
}
.active-link {
	color: $cffcd32;
}
.flex-box {
	display flex;
}
.flex-cont-start {
	justify-content flex-start;
}
.flex-cont-center {
	justify-content center;
}
.flex-cont-end {
	justify-content flex-end;
}
.flex-cont-btw {
	justify-content space-between;
}
.flex-cont-ard {
	justify-content space-around;
}
.flex-align-start {
	align-items flex-start;
}
.flex-align-center {
	align-items center;
}
.flex-align-end {
	align-items flex-end;
}
.flex-wrap {
	flex-wrap wrap;
}
.flex-nowrap {
	flex-wrap nowrap;
}
.flex-column {
	flex-direction column;
}
.flex-row {
	flex-direction row;
}
.pos-rel {
	position relative;
}
.pos-abs {
	position absolute;
}
.pos-fixed {
	position fixed;
}
.box-size {
	box-sizing border-box;
}
.mini-show {
	padding-bottom $mini-play-height !important;
	bottom $mini-play-height !important;
}
