// 颜色定义规范
$root-background = #222;
$color-background-d = rgba(0, 0, 0, 0.3);
$c333 = #333;
$c666 = #666;
$cffcd32 = #ffcd32;
$color-theme-d = rgba(255, 205, 49, 0.5);
$cd93f30 = #d93f30;
$cfff = #fff;
$color-text-d = rgba(255, 255, 255, 0.3);
$color-text-l = rgba(255, 255, 255, 0.5);
$color-text-ll = rgba(255, 255, 255, 0.8);

//字体定义规范
$font12 = .24rem;
$font14 = .28rem;
$font16 = .32rem;
$font18 = .36rem;
$font20 = .4rem;
$font22 = .44rem;

// mini播放器高度
$mini-play-height = 1.2rem;