.m-header{
	height: .8rem;
	color $cfff;
	padding: .1rem .2rem 0;
	.icon{
		width: .7rem;
		height: .7rem;
		$bg-image('logo');
		background-size: 100%;
		margin-right .2rem;
	}
	.text{
		color: $cffcd32;
		font-size: $font20;
	}
	.mine{
		/*flex 0 0 .8rem;
		width .8rem;*/
		height .8rem;
		padding .2rem;
		font-weight 700;
		.icon-mine{
			padding .2rem;
			font-size: $font20;
			left 0;
			top 0;
		}
	}
}