.progress-bar{
	height 100%;
	.bar-inner{
		position: relative;
		top 0;
		left 0;
		height 100%;
		background $cfff;
		.progress{
			height 100%;
			background $cffcd32;
			left 0;
		}
		.progress-btn-wrapper{
			width .04rem;
			height .04rem;
			left -.04rem;
			top 0;
			background $cffcd32;
		}
	}
}