.user-center {
	padding .3rem;
	color #ccc;
	line-height 2;
}
.title {
	text-align center;
	margin-bottom .2rem;
	color $cd93f30;
	font-size $font16;
	~ p {
		text-indent .28rem;
		margin-bottom .2rem;
	}
}