.search-box-wapper {
	padding 0 .4rem;
}
.search-box{
	width 100%;
	padding 0 .1rem;
	height .8rem;
	background $c333;
	border-radius .12rem;
	.icon-search{
		font-size .48rem;
		color $root-background;
	}
	.box{
		flex 1;
		margin 0 .1rem;
		line-height .4rem;
		background $c333;
		color $cfff;
		font-size $font14;
		outline-color $cffcd32;
		&::placeholder{
			color $color-text-d;
		}
	}
	.icon-dismiss{
		font-size $font16;
		color $root-background;
	}
}
.hot-key{
	padding .2rem .4rem;
	.title{
		margin-bottom .2rem;
		color $color-text-l;
	}
	.item{
		display inline-block;
		padding .1rem .2rem;
		margin 0 .2rem .2rem 0;
		border-radius .12rem;
		font-size $font12;
		background $c333;
		color $color-text-d;
	}
}
